{% extends "base_tailwind.html" %}

{% block content %}

<div class="max-w-md mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mt-8">
    {% if form.errors %}
        <p class="text-red-600">Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="text-red-600">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
            <p class="text-gray-700">Please login to see this site.</p>
        {% endif %}
    {% endif %}

    {% load crispy_forms_tags %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="flex items-center justify-between">
            <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" value="Login Locally" />
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </form>

    {% if settings.SOCIAL_AUTH_GITHUB_KEY %}
    <hr class="my-6"/>
    <div class="text-center">
        <a class="bg-gray-800 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded inline-flex items-center" role="button" href="{% url 'social:begin' 'github' %}?next={{ next }}">
            <i class="fa fa-github mr-2" aria-hidden="true"></i>Login with GitHub
        </a>
    </div>
    {% endif %}

    {% if settings.SOCIAL_AUTH_FACEBOOK_KEY %}
    <hr class="my-6"/>
    <div class="text-center">
        <a class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center" role="button" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">
            <i class="fab fa-facebook-f mr-2" aria-hidden="true"></i>Login with Facebook
        </a>
    </div>
    {% endif %}

    {% if settings.SOCIAL_AUTH_GOOGLE_OAUTH2_KEY %}
    <hr class="my-6"/>
    <div class="text-center">
        <a class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline-flex items-center" role="button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">
            <i class="fab fa-google mr-2" aria-hidden="true"></i>Login with Google
        </a>
    </div>
    {% endif %}

    {% if settings.SOCIAL_AUTH_TWITTER_KEY %}
    <hr class="my-6"/>
    <div class="text-center">
        <a class="bg-blue-400 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded inline-flex items-center" role="button" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">
            <i class="fab fa-twitter mr-2" aria-hidden="true"></i>Login with Twitter
        </a>
    </div>
    {% endif %}

    
</div>

{% endblock %}
