<!DOCTYPE html>
<html lang="en">
{% load static tailwind_tags %}

<head>
    {% tailwind_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    
    <link href="{% static 'css/dist/styles.css' %}" rel="stylesheet"> <!-- Link to your compiled Tailwind CSS file -->
    <style>
        /* Add any custom styles here */
    </style>
</head>
<body class="bg-gray-100 text-gray-900">
    {% block content %}
    {% endblock %}
</body>
</html>
